<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="org.example.laboratorinis.mybatis.model.Course" alias="Course"/>
        <typeAlias type="org.example.laboratorinis.mybatis.model.Student" alias="Student"/>
        <typeAlias type="org.example.laboratorinis.mybatis.model.Extracurricular" alias="Extracurricular"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <property name="data_source" value="LaboratorinisDataSource"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="org.example.laboratorinis.mybatis.xml/CourseMapper.xml"/>
        <mapper resource="org.example.laboratorinis.mybatis.xml/StudentMapper.xml"/>
        <mapper resource="org.example.laboratorinis.mybatis.xml/ExtracurricularMapper.xml"/>
    </mappers>
</configuration>
